carla==0.9.13
numpy
pygame
opencv-python
gymnasium
pyyaml
torch
torchvision
tensorboard
ray[rllib]
accelerate

omegaconf
tqdm

matplotlib

shapely
networkx

py-trees==0.8.3
ephem

xmlschema==1.0.18
tabulate
simple-watchdog-timer
