# mainly used for debuging, if true opens a window and displays the camera of
# the vehicle
render_rgb_camera: false

# terminate the episode if the vehicle runs a red light or a stop
termination_on_run: true

# return the reward value in the info
return_reward_info: true

# terminate the episode if the vehicle doesn't move for the given time
stopped_termination_seconds: 90

# maximum seconds that the vehicle can be out of the lane, the junctions
# don't count because itsn't posible
out_of_lane_termination_seconds: 5

seed: 0

# reward contants
reward_speed_penalty: false
reward_failure: -1.0
reward_success: 1.0
reward_wrong_lane: -0.1
reward_steer: -0.01
reward_speed: 0.02
reward_max_speed: 30.0
reward_waypoint: 0.5

#
# for the carla server
#
use_carla_launcher: true # if true launch the server in the environment

# command to launch the carla server, takes the port as first argument
# and (maybe) the device as second
carla_launch_script: "bash launch_carla_server.sh"
num_devices: 1 # number of gpus (in order to pass to the launch script)
carla_restart_after: 10 # amount of resets to restart the server
ip: localhost
port: 2000
worker_threads: 2 # for the Client class https://carla.readthedocs.io/en/0.9.15/python_api/#carlaclient
tm_port: 8000
timeout: 60.0
fixed_delta_seconds: 0.1
max_substeps: 10

# use the loaderboard-1 settings for the sensors
use_leaderboard_setting: true

# for the route picking
# if false: cycle throw all the scenarios
pick_random: true

run_type: route
route: srunner/data/routes_training.xml
scenario_file: srunner/data/all_towns_traffic_scenarios.json
single_route: null
criteria_enable: true

# scenario
# run_type: scenario
# scenario: None
# randomize: True

# free ride
# run_type: free ride # can be w/e except route and scenario
#
# In training mode, we pick a random map (Towns: 1, 2, 3, 4, 6) and weather
# every reset. Also, we pick between zero, light, medium and busy traffic contitions.
# training_mode: true
# map: null
#
# num_of_vehicles: 10
# num_of_walkers: 10
# or can use (work on towns 1-6)
# traffic_state: Busy # Zero, Light, Medium, Busy
#
# random_weather: true
# dynamic_weather: true
